.head {
    color: white;
    text-align: center;
    background-color: rgb(95, 94, 94);
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 170px;
    font-size: 500%;
    font-weight:bolder;
}

.home {
    color: white;
    margin-left: 440px;
}

/* .button {
    color: rgb(228, 12, 12);
   background-color: aqua;
} */
.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
.music {
    font-size: 250%;
    margin-left: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;

}